language: node_js
node_js:
  - '0.12'
  - '4.0'
before_script:
  - 'export CHROME_BIN=chromium-browser'
  - 'export DISPLAY=:99.0'
  - 'sh -e /etc/init.d/xvfb start'
  - 'npm install -g bower karma gulp jshint npm-check-updates'
  - 'ncu -u'
  - 'ncu -m bower -u'
  - 'npm install'
  - 'bower install'

after_script:
  - 'gulp'
